<div class="user-login-container mat-elevation-z10">
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input matInput formControlName="login" type="text" placeholder="login">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="password">
        </mat-form-field>
        <button type="submit" mat-icon-button disableRipple (click)="submit()" [disabled]="loginForm.invalid">
            <mat-icon>fingerprint</mat-icon>
        </button>
    </form>
</div>