.profile-card-container {
    width: 20%;
    min-width: 300px;

    text-align: center;
}

.profile-card-container > .header {
    display: inline;
    text-align: center;
}

.avatar {
    border-radius: 50%;

    width: 100%;
    min-width: inherit;
    max-width: 250px;

    margin-bottom: 15px;
}