.profile-card {
    background: inherit;
    backdrop-filter: blur(10px);

    border-radius: 0px;

    min-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-card-avatar {
    padding: 1px;
    border: 5px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 50%;
    margin: 25px;

    size: 100%;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
}

.profile-card-header {
    margin: 0;
    padding: 10px;
}

.profile-card-footer {
    margin: 0;
}