.profile-card-container {
    position: fixed;

    width: 20%;
    min-width: 300px;

    text-align: center;
}

.avatar {
    border-radius: 50%;

    width: 100%;
    min-width: inherit;
    max-width: 250px;

    margin-bottom: 15px;
}