<div class="user-register-container mat-elevation-z10">
    <form [formGroup]="registerForm">
        <mat-form-field hintLabel="count of symbols from 3 to 20">
            <input matInput maxlength="20" formControlName="name" type="text" placeholder="name">
            <button mat-button matSuffix mat-icon-button (click)="clearControl('name')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('name').errors?.required">required</mat-error>
            <mat-error *ngIf="registerForm.get('name').errors?.pattern">alphabet characters only</mat-error>
            <mat-error *ngIf="registerForm.get('name').errors?.minlength">count between 3 and 20</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="email" type="text" placeholder="email">
            <button mat-button matSuffix mat-icon-button (click)="clearControl('email')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('email').errors?.email">follow email pattern</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="XXXAAYYYYYYY, where XXX - country & AA - operator">
            <input matInput maxlength="12" formControlName="phone" type="text" placeholder="phone">
            <button mat-button matSuffix mat-icon-button (click)="clearControl('phone')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('phone').errors?.required">required</mat-error>
            <mat-error *ngIf="registerForm.get('phone').errors?.pattern">digit characters only</mat-error>
            <mat-error *ngIf="registerForm.get('phone').errors?.minlength || registerForm.get('phone').errors?.maxlength">count must be 12</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="count of symbols is 8">
            <input matInput minlength="8" maxlength="8" #password formControlName="password" type="password" placeholder="password">
            <button mat-button matSuffix mat-icon-button (click)="changePasswordFieldType()">
                <mat-icon>visibility</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('phone').errors?.minlength || registerForm.get('phone').errors?.maxlength">count must be 8</mat-error>
        </mat-form-field>
        <button mat-icon-button mat-button disableRipple [routerLink]="['/profile']">
            <mat-icon>close</mat-icon>
        </button>
        <button type="button" mat-icon-button disableRipple [disabled]="registerForm.invalid" (click)="submit()">
            <mat-icon>done</mat-icon>
        </button>
    </form>
</div>