$margin: 12px;

.contact-container {
    display: flex;
    flex-direction: column;
}

.contacts-container {
    display: flex;
    margin: $margin / 2; 
}

.contacts-container * {
    margin: $margin / 2;
}

.contact-container search {
    margin: 0 $margin;
}

.contact-container contact-profile {
    border: 1px solid rgba(#e4e4e4, 0.5);
}