<mat-card class="contact-card mat-elevation-z10">
    <div *ngIf="!contact" class="null-contact">select a contact to view info</div>

    <div *ngIf="contact" [class.contact-card-blocked]="contact.isBlocked">
        <span *ngIf="mode == 'edit'">
            <form [formGroup]="editForm">
                <mat-form-field hintLabel="count between 3 and 20">
                    <input matInput formControlName="pseudonym" type="text" maxlength="15" placeholder="pseudonym" value="{{contact.pseudonym}}">
                    <button mat-button matSuffix mat-icon-button (click)="clearControl('pseudonym')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="editForm.get('pseudonym').errors?.pattern">alphabet characters only</mat-error>
                    <mat-error *ngIf="editForm.get('pseudonym').errors?.minlength">count between 3 and 20</mat-error>
                </mat-form-field>
            </form>
            <button mat-icon-button
                disableRipple
                (click)="cancelEdit()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button
                type="reset"
                disableRipple
                (click)="changeMode()"
                [disabled]="editForm.invalid">
                <mat-icon>{{ changeModeIcon }}</mat-icon>
            </button>
        </span>

        <div class="contact-card-header">
            <span *ngIf="mode == 'view' || mode == 'search'">
                {{ viewName() }}
            </span>
            <button *ngIf="mode == 'view' && contact.isContact" mat-icon-button
                disableRipple
                (click)="changeMode()">
                <mat-icon>{{ changeModeIcon }}</mat-icon>
            </button>
        </div>

        <img draggable="false" src="{{ contact.user.avatar }}" class="contact-card-avatar mat-elevation-z7"
            [class.contact-card-avatar-online]="contact.isOnline">

        <div class="contact-card-content">
            <br>
            {{ contact.user.email }}
            <br>
            {{ contact.user.phone }}
        </div>

        <div *ngIf="(mode == 'view' || mode == 'search') && !contact.isOnline && contact.lastSeen" class="contact-card-footer">last seen {{ contact.lastSeen | date:"MMM dd ''yy, h:mm a" }}</div>
        
        <div *ngIf="mode == 'view' || mode == 'search'" class="contact-card-actions">
            <button *ngIf="!contact.isContact && !contact.isBlocked" mat-icon-button disableRipple (click)="changeIsContactStatus()">
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="contact.isContact" mat-icon-button disableRipple (click)="changeIsContactStatus()">
                <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="contact.isBlocked" mat-icon-button disableRipple (click)="changeIsBlockedStatus()">
                <mat-icon>undo</mat-icon>
            </button>
            <button *ngIf="!contact.isBlocked" mat-icon-button disableRipple (click)="changeIsBlockedStatus()">
                <mat-icon>block</mat-icon>
            </button>
            <button *ngIf="contact.isContact" mat-icon-button disableRipple (click)="openShareDialog()">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </div>
    
</mat-card>