<mat-card class="contact-card mat-elevation-z14" [class.profile-card-edit-mode]="mode == 'edit'">
    <div class="contact-card-header">{{contact.user.name}}</div>

    <img src="{{contact.user.avatarSrc}}" class="contact-card-avatar mat-elevation-z7">

    <div class="contact-card-content">
        <br>
        {{contact.user.email}}
        <br>
        {{contact.user.phone}}
    </div>

    <div class="contact-card-footer">Registered {{contact.user.registered}}</div>
    
    <div class="contact-card-actions">
        <button mat-icon-button (click)="changeMode()">
            <mat-icon>{{changeModeIcon}}</mat-icon>
        </button>
    </div>
</mat-card>