$background-image: url(../assets/background.jpg);

.content-container {
    height: 100%;

    background-image: $background-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.router-outlet-container {
    height: calc(100vh - 64px);
    width: inherit;
    
    display: flex;
    align-items: center;
    justify-content: center;
}