$success: #5ece90;

$online: $success;
$list-width: 200px;

.contact-list {
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 0px;

    padding: 10px;
    height: 500px;

    scroll-behavior: smooth;
    overflow: auto;

    width: $list-width;
    transition: all 0.2s ease-in;

    display: flex;
    flex-direction: column;
    border: 1px solid rgba(#e4e4e4, 0.5);
}

.mat-list-text {
  width: $list-width;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.contact-list::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: transparent;
}

.contact-list::-webkit-scrollbar {
	width: 3px;
	background-color: transparent;
}

.contact-list::-webkit-scrollbar-thumb {
	border-radius: 0;
    background-color: rgba(#e4e4e4, 0.2);
}

.contact-avatar {
    margin: 3px;

    border: 4px solid rgba($color: #5e5e5e, $alpha: 0.2);
}

.contact-avatar-online {
    padding: 2px;
    border: 2px solid $online;
}

mat-list-item {
    transition: all 0.2s ease-in;
}

mat-list-item:hover {
    cursor: pointer;

    text-shadow: 0 0 3px #e4e4e4;
    
    transition: all 0.2s ease-in;
}

.no-search-results {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mat-list-no-search-results {
    padding-top: 0px;
}